<!doctype html>  
<html> 
  <head>
     <title><%=forumName%> - User</title>
     <link rel="stylesheet" type="text/css" href="main.css" />
  </head>   
  <body> 
  <h1><%=forumName%></h1>                                                                                
    <h2>User</h2>

        <p>Username: <%=user.username%></p>
        <p>Name:  <%=user.firstname%><%=user.surname%> </p>
        <p>Country: <%=user.country%> </p>

   </body>
</html>
